name: "Lint PR"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
    check_pr_title:
        name: Validate PR Title
        runs-on: ubuntu-20.04
        steps:
          - uses: amannn/action-semantic-pull-request@v3.5.0
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            with:
                types: |
                    build
                    ci
                    docs
                    feat
                    fix
                    refactor
                    test
                scopes: |
                    admin
                    showcase
                    api
                    account